<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>

    <rewrite> <rules> <rule name="About Us" stopProcessing="true"> <match url="^aboutus\.html$" /> <action type="Redirect" url="/about-us.html" redirectType="Permanent" /> </rule> 

    <rule name="Principal Message" stopProcessing="true"> <match url="^principalmsg\.html$" /> <action type="Redirect" url="/principal-message.html" redirectType="Permanent" /> </rule>

    <rule name="Milestones" stopProcessing="true"> <match url="^milestones\.html$" /> <action type="Redirect" url="/our-milestones.html" redirectType="Permanent" /> </rule>

    <rule name="DPS Edge" stopProcessing="true"> <match url="^dpsedge\.html$" /> <action type="Redirect" url="/dps-edge.html" redirectType="Permanent" /> </rule>

    <rule name="Achievements" stopProcessing="true"> <match url="^jee\.html$" /> <action type="Redirect" url="/achievements.html" redirectType="Permanent" /> </rule>

    <rule name="Stages Of Study" stopProcessing="true"> <match url="^stagestudy\.html$" /> <action type="Redirect" url="/stages-of-study.html" redirectType="Permanent" /> </rule>

    <rule name="Streams Subject" stopProcessing="true"> <match url="^streamsubject\.html$" /> <action type="Redirect" url="/streams-subject.html" redirectType="Permanent" /> </rule>

    <rule name="Examination Promotion" stopProcessing="true"> <match url="^exampromotion\.html$" /> <action type="Redirect" url="/examination-promotion.html" redirectType="Permanent" /> </rule>

    <rule name="Board Results" stopProcessing="true"> <match url="^board\.html$" /> <action type="Redirect" url="/board-results.html" redirectType="Permanent" /> </rule>

    <rule name="Booksets" stopProcessing="true"> <match url="^1bookset\.html$" /> <action type="Redirect" url="/booksets.html" redirectType="Permanent" /> </rule>

   

    <rule name="Admission Criteria" stopProcessing="true"> <match url="^criteria\.html$" /> <action type="Redirect" url="/admission-criteria.html" redirectType="Permanent" /> </rule>

    
    

    <rule name="Fee Structure" stopProcessing="true"> <match url="^1feestructure\.html$" /> <action type="Redirect" url="/fee-structure.html" redirectType="Permanent" /> </rule>

    <rule name="Rules Regulations" stopProcessing="true"> <match url="^rulesregulation\.html$" /> <action type="Redirect" url="/rules-regulation.html" redirectType="Permanent" /> </rule>

    

    <rule name="Contact Us" stopProcessing="true"> <match url="^contact\.html$" /> <action type="Redirect" url="/contact-us.html" redirectType="Permanent" /> </rule>
    <rule name="Gallery" stopProcessing="true"> <match url="^infrastructure\.html$" /> <action type="Redirect" url="/photo-gallery.html" redirectType="Permanent" /> </rule>

    <rule name="Board Result" stopProcessing="true">
    <match url="^boardresult\.html$" />
    <action type="Redirect" url="/board-results.html" redirectType="Permanent" />
</rule>

<rule name="Bookset" stopProcessing="true">
    <match url="^bookset\.html$" />
    <action type="Redirect" url="/books.html" redirectType="Permanent" />
</rule>

<rule name="Fee Structure Old URL" stopProcessing="true">
    <match url="^feestructure\.html$" />
    <action type="Redirect" url="/fee-structure.html" redirectType="Permanent" />
</rule>

<rule name="Syllabus" stopProcessing="true">
    <match url="^syllabus\.html$" />
    <action type="Redirect" url="/books.html" redirectType="Permanent" />
</rule>

<rule name="Rules and Regulations" stopProcessing="true">
    <match url="^rulesandregulations\.html$" />
    <action type="Redirect" url="/rules-regulation.html" redirectType="Permanent" />
</rule>

<rule name="Booksets Old URL" stopProcessing="true">
    <match url="^booksets\.html$" />
    <action type="Redirect" url="/books.html" redirectType="Permanent" />
</rule>

<rule name="Infrastructure Old URL" stopProcessing="true">
    <match url="^infra\.html$" />
    <action type="Redirect" url="/photo-gallery.html" redirectType="Permanent" />
</rule>
    
    </rules> </rewrite>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="D:\INETPUB\VHOSTS\dps.ac.in\tmp" />
  </system.web> 
</configuration>